<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{admin.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .nav-my {
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .my-control-panel {
            margin-top: 3%;
            width: 50%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:object="${user}">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/auth/main}" th:utext="#{main.page}">Main page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" th:utext="*{getEmail()}" th:href="@{/user}">Email</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false"
                       th:text="#{admin.action}">Admin action</a>
                    <div class="dropdown-menu" style="">
                        <form action="#" th:action="@{/registration}" method="get">
                            <button class="btn btn-link" type="submit" th:utext="#{registration}">Register new user</button>
                        </form>
                        <form action="#" th:action="@{/admin/addPackage}" method="get">
                            <button class="btn btn-link" type="submit" th:utext="#{admin.add.new.package}">Add new package</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false" th:utext="#{language}">Language</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="/changeLanguage?language=ukr">Ukrainian</a>
                    <a class="dropdown-item" href="/changeLanguage?language=en">English</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false"
                   th:text="|#{label.balance}  *{getBalance()}|">Balance:1337</a>
                <div class="dropdown-menu" style="">
                    <form action="#" th:action="@{/user/donate}" method="post">
                        <button class="btn btn-link" type="submit" name="sum" th:value="200"
                                th:utext="|${200} #{label.grivna}|">200 UAH
                        </button>
                        <button class="btn btn-link" type="submit" name="sum" th:value="500"
                                th:utext="|${500} #{label.grivna}|">500 UAH
                        </button>
                        <button class="btn btn-link" type="submit" name="sum" th:value="1000"
                                th:utext="|${1000} #{label.grivna}|">1000 UAH
                        </button>
                    </form>
                </div>
            </li>
            <li class="nav-item">
                <form action="#" th:action="@{/auth/logout}" method="post">
                    <button class="btn btn-link" type="submit" th:utext="#{label.logout}">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<center>
    <div class="my-control-panel">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th th:text="#{label.email}"/>
                <th th:text="#{label.balance}"/>
                <th th:text="#{label.action}"/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listOfUsers}">
                <td th:text="${user.email}"/>
                <td th:text="${user.balance}"/>
                <td th:text="${user.status}"/>
                <td th:switch="${user.status}">
                    <form action="#" th:action="@{/admin/banUser}" method="post"
                          th:case="${T(ua.ivan.provider.model.Status).ACTIVE}">
                        <button type="submit" class="btn btn-outline-danger" th:value="${user.id}" name="id">Ban
                        </button>
                    </form>
                    <form action="#" th:action="@{/admin/unbanUser}" method="post"
                          th:case="${T(ua.ivan.provider.model.Status).BANNED}">
                        <button type="submit" class="btn btn-outline-success" th:value="${user.id}" name="id">Unban
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</center>

<center>
    <div class="my-control-panel">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th th:text="#{label.email}"/>
                <th th:text="#{label.balance}"/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="donate : ${listOfDonates}">
                <td th:text="${donate.userId.email}"/>
                <td th:text="${donate.sum}"/>
                <td>
                    <div>
                        <form action="#" th:action="@{/admin/confirm}" method="post">
                            <input type="hidden" th:value="${donate.userId.id}" name="id_user"/>
                            <input type="hidden" th:value="${donate.id}" name="id_donate"/>
                            <button type="submit" class="btn btn-success" th:value="${donate.sum}" name="sum">Сonfirm</button>
                        </form>
                    </div>
                </td>
                <td>
                    <form action="#" th:action="@{/admin/unconfirm}" method="post">
                        <input type="hidden" th:value="${donate.userId.id}" name="id_user"/>
                        <button type="submit" class="btn btn-outline-danger" th:value="${donate.id}" name="id_donate">Unconfirm</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</center>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>