<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{cabinet.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .nav-my {
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .content-site {
            margin-top: 3%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:object="${user}">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/auth/main}" th:utext="#{main.page}">Main page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/admin}" sec:authorize="hasAuthority('write')"
                       th:utext="#{admin.panel}">Admin Panel</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false"
                       th:text="#{cabinet.sort}">Sort by:</a>
                    <div class="dropdown-menu" style="">
                        <form action="#" th:action="@{/user/sort}" method="get">
                            <button class="btn btn-link" type="submit" name="method" th:value="'A-Z'" th:text="#{cabinet.sort.az}">Sort by
                                name(A-Z)
                            </button>
                            <button class="btn btn-link" type="submit" name="method" th:value="'Z-A'" th:text="#{cabinet.sort.za}">Sort by
                                name(a-z)
                            </button>
                            <button class="btn btn-link" type="submit" name="method" th:value="'price'" th:text="#{cabinet.sort.price}">Sort by price
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false" th:utext="#{language}">Language</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="/changeLanguage?language=ukr">Ukrainian</a>
                    <a class="dropdown-item" href="/changeLanguage?language=en">English</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false"
                   th:text="|#{label.balance}  *{getBalance()}|">Balance:1337</a>
                <div class="dropdown-menu" style="">
                    <form action="#" th:action="@{/user/donate}" method="post">
                        <button class="btn btn-link" type="submit" name="sum" th:value="200"
                                th:utext="|${200} #{label.grivna}|">200 UAH
                        </button>
                        <button class="btn btn-link" type="submit" name="sum" th:value="500"
                                th:utext="|${500} #{label.grivna}|">500 UAH
                        </button>
                        <button class="btn btn-link" type="submit" name="sum" th:value="1000"
                                th:utext="|${1000} #{label.grivna}|">1000 UAH
                        </button>
                    </form>
                </div>
            </li>
            <li class="nav-item">
                <form action="#" th:action="@{/auth/logout}" method="post">
                    <button class="btn btn-link" type="submit" th:utext="#{label.logout}">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="content-site">
    <center><h1 th:utext="#{cabinet.site.title}">Yours packets</h1></center>
    <br>
    <div th:object="${user}" class="d-flex justify-content-around">
        <div th:each="package : ${listOfUserPackages}">
            <div class="card border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header" th:utext="${package.getType()}">Internet</div>
                <div class="card-body text-dark">
                    <h5 class="card-title" th:utext="${package.getName()}">Mega</h5>
                    <p class="card-text" th:utext="${package.getDescription()}">Get 20 GB of Internet for 4 weeks 250
                        UAH!</p>
                    <form action="#" th:action="@{/user/unsub}" method="post">
                        <input type="hidden" name="userId" th:value="*{getId()}"/>
                        <input type="hidden" name="packageId" th:value="${package.getId()}"/>
                        <button type="submit" class="btn btn-danger" th:utext="#{cabinet.btn.unsub}">Unsubscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>